<!DOCTYPE html>
<%= javascript_include_tag "application", "data-turbo-track": "reload" %>
<html>
  <head>
    <title>Hugo 的 blog</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="banner">
      <h1>My Blogs</h1>
    </div>
    <div id="left-panel">
      Left Panel
    </div>

    <div id="main-panel">
      <%= yield %>
    </div>

    <div id="footer">
      Copyright hugo &copy; 2024
    </div>
  </body>
</html>
